body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}
#counter {
  font-size: 15em;
  margin: 150px auto 0px;
  padding: 0;
}
.buttons {
  width: 150px;
  height: 50px;
  background-color: rgb(95, 187, 252);
  color: white;
  font-size: 2em;
  border: none;
  border-radius: 10px;
  transition: background 0.25s;
}
.buttons:hover {
  background: rgb(25, 159, 254);
}
@media (max-width: 480px) {
  #buttons {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 8px;
  }
  #buttons button {
    width: 80%;
  }
}
